# This is Python Tutorial

This is our first program in python

In [1]:
print("Hello world")

Hello world

$a = b+c$

# Variables

In [2]:
x = 3

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [4]:
print(type(x))

<class 'int'>

In [5]:
x = 5.7

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd = 556.32

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [10]:
a, b, c, d, f = 3, 5, 6.0, 7.2, -3

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [12]:
del abcd

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [14]:
print(abcd)

NameError: name 'abcd' is not defined

In [17]:
c = 2+4j

In [18]:
print(c)

(2+4j)

In [19]:
print(type(c))

<class 'complex'>

In [20]:
s = "Hello how are you?"

In [21]:
print(type(s))

<class 'str'>

# Operators

In [22]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          int        5
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        Hello how are you?
x          float      5.7

In [23]:
sumOf_a_b = a+b

In [24]:
print(sumOf_a_b)

8

In [25]:
type(sumOf_a_b)

int

In [26]:
type(a + d)

float

In [27]:
v = ((a+d)**3)/4

In [28]:
print(v)

265.30199999999996

In [29]:
s1 = "Hello"

In [30]:
s2 = "World"

In [31]:
s = s1+s2

In [32]:
print(s)

HelloWorld

In [33]:
10/3

3.3333333333333335

In [34]:
10//3

3

In [35]:
_

3

# Bool

In [36]:
a = True
b = True
c = False

In [37]:
%whos

Variable    Type     Data/Info
------------------------------
a           bool     True
b           bool     True
c           bool     False
d           float    7.2
f           int      -3
s           str      HelloWorld
s1          str      Hello
s2          str      World
sumOf_a_b   int      8
v           float    265.30199999999996
x           float    5.7

In [38]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [39]:
d = a or c
print(d)

True

In [40]:
not(a)

False

In [41]:
not(b)

False

In [42]:
not(c)

True

In [43]:
t = type(d)

In [44]:
print(t)

<class 'bool'>

In [45]:
not((a and b) or (c or d))

False

# Comparisons

In [46]:
print(2<3)

True

In [47]:
c = 2<3
print(type(c))
print(c)

<class 'bool'>
True

In [48]:
d = 3==4

In [49]:
print(d)

False

In [50]:
3 == 3.0

True

In [51]:
x = 4
y = 9
z = 8.3
r = -3

In [52]:
(x < y) and (z < y) or (r == x)

True

In [53]:
(x < y) or (z < y) and (r == x)

True

In [54]:
False or False and True

False

In [55]:
False and False or True

True

In [56]:
print((not(2 != 3) and True) or (False and True))

False

In [57]:
print(round(4.6))
print(round(4.3))

5
4

In [58]:
print(round(4.55876, 3))

4.559

In [59]:
print(round(4.55826, 3))

4.558

In [60]:
print(divmod(27, 5))

(5, 2)

In [61]:
g = divmod(6, 4)
type(g)

tuple

In [62]:
print(g[0])

1

In [63]:
g[1]

2

In [64]:
print(isinstance(1, int))

True

In [65]:
print(isinstance(1.0, int))

False

In [66]:
print(isinstance(1.0, (int, float)))

True

In [67]:
print(isinstance(1.0+5j, (int, float)))

False

In [68]:
print(isinstance(1.0+5j, (int, float, complex)))

True

In [69]:
pow(2, 4)

16

In [70]:
2**4

16

In [71]:
pow(2, 4, 7)

2

In [72]:
a = input("Enter a number: ")

Enter a number: 54

In [73]:
type(a)

str

In [74]:
a = int(a)

In [75]:
type(a)

int

In [76]:
print(a - 5)

49

In [77]:
z = float(input("Enter a number: "))

Enter a number: 4.25

In [78]:
type(z)

float

In [80]:
z = float(input("Enter a number: "))

Enter a number: 4

In [81]:
pow?

In [84]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [88]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [1]:
a = int(input())
b = int(input())
if a < b:
    print(b)
else:
    print(a)

5
8
8

In [3]:
a = float(input("enter a real number a: "))
b = float(input("enter a real number b: "))
if a == b:
    print("a is equal to b")
elif a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

enter a real number a: 8
enter a real number b: 6.7
a is greater than b

In [6]:
# This is a single line comment 

"""
This is a multiple lines comment
Try it out!!!
"""

'\nThis is a multiple lines comment\nTry it out!!!\n'

In [8]:
n = int(input("Max iterations: "))
i = 1
while (i <= n):
    print(i)
    i += 1  # i=i+1
print("done")

Max iterations: 10
1
2
3
4
5
6
7
8
9
10
done

In [9]:
n = int(input("Max iterations: "))
i = 1
while (i <= n):
    if i%2 == 0:
        print(i)
    else:
        pass # do nothing
    i += 1

Max iterations: 10
2
4
6
8
10

In [4]:
i = 1
while True:
    if i%2 == 0:
        print("break")
        break
    else:
        i += 1
        continue
    print("I am inside the loop")
print("I am outside the loop")

break
I am outside the loop

In [3]:
l = []
for i in range(0, 10, 2):
    print(i)
    l.append(i**2)
    print(l)

0
[0]
2
[0, 4]
4
[0, 4, 16]
6
[0, 4, 16, 36]
8
[0, 4, 16, 36, 64]

In [15]:
s = {"apple", 4.9, "cherry"}
for x in s:
    print(x)
else:
    print("Loop done")

cherry
4.9
apple
Loop done

In [7]:
d = {"apple":1, "cherry":"game"}
for x in d:
    print(x,": ",d[x])

apple :  1
cherry :  game

In [6]:
def printSuccess():
    print("I'm done")
    print("send me another task")

In [8]:
printSuccess()

I'm done
send me another task

In [9]:
def printSuccess():
    """ this function does nothing """
    print("I'm done")

In [10]:
printsuccess?

Object `printsuccess` not found.

In [12]:
printSuccess??

In [13]:
len??

In [14]:
help(printSuccess)

Help on function printSuccess in module __main__:

printSuccess()
    this function does nothing

In [19]:
def checkArgs(a, b, c):
    if isinstance(a, (int, float)) and isinstance(b, (int, float)) and isinstance(c, (int, float)):
        print((a+b+c)**2)
    else:
        print("Error : the input args are not of expected argument")

In [20]:
checkArgs(5, 9, 6)

400

In [21]:
def f(c2, c1, c3):
    print(c1, c2, c3)

In [23]:
# (**)
f(c1 = "A", c2 = "B", c3 = "C") # to not mix up the order of the arguments

A B C

In [24]:
def myAdd(a, b):
    c = a+b
    return c # return allows to access c = a local variable outside the function

In [25]:
print(myAdd(2, 2))

4

In [26]:
# (*)
""" this function can take a variable number of input args """
def add(*args): # args is just a disposable name. it can be changed into whatever name
    sum = 0
    for i in range(len(args)): # agrs is a list of the input args
        sum += args[i]
    return sum

In [29]:
add(2, 5, 4, 5, 7, 5)

28

In [30]:
# (*) + (**) =>
def printAllVariableNamesAndValues(**args):
    for x in args:
        print("Variable name is : ",x, "and value is : ",args[x])

In [31]:
printAllVariableNamesAndValues(a = 2, b = 7, c = "CCC", y = 86.7)

Variable name is :  a and value is :  2
Variable name is :  b and value is :  7
Variable name is :  c and value is :  CCC
Variable name is :  y and value is :  86.7

In [32]:
# default value of a functions
def gg(s = 4):
    print(s)

In [33]:
gg()

4

In [34]:
gg(56)

56

In [35]:
# case of a referencial dataType = a list
L = [1, 2, 3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [36]:
def ff(l = [1, 2]):
    for i in l:
        print(i)

In [37]:
l2 = [12, 8, 6]
ff()
ff(l2)

1
2
12
8
6

In [38]:
ff()

1
2

 ### Modules and functions

In [1]:
import sys
sys.path.append('C:/MyModules/')
import myFunctions as myfs

In [2]:
myfs.addAllNumeric??

In [3]:
myfs.addAllNumeric(2, 7, 5, 6, 8, 54)

82

In [4]:
from myFunctions import addAllNumeric as f

In [5]:
f(2, 7, 5, 6, 8, 54)

82

In [6]:
myfs.myName

'Ouissal'

In [28]:
def sortList(l = []):
    minIndex = 0
    for i_index in range(len(l)):
        for j_index in range(i_index + 1, len(l)):
            if l[i_index] > l[j_index]:
                l[i_index], l[j_index] = l[j_index], l[i_index]
    return l, l[minIndex]

In [29]:
sortList([2, 1, -7, 65, 0])

([-7, 0, 1, 2, 65], -7)

In [46]:
def findMin(l, start_idx):
    min = l[start_idx]
    indx = start_idx
    for i in range(start_idx, len(l)):
        x = l[i]
        if x < min:
            min = x
            indx = i
        else:
            pass
    return min, indx

In [48]:
findMin([2, 1, -7, 65, 0], 0)

(-7, 2)

In [49]:
def swapValues(L, idx1, idx2):
    L[idx1], L[idx2] = L[idx2], L[idx1]
    return L

In [44]:
l1 = [2, 1, -7, 65, 0]
l2 = swapValues(l1, 1, 3)
print(l2)

[2, 65, -7, 1, 0]

In [60]:
# calling functions inside of other functions
import sys
sys.path.append('C:/MyModules/')
from myFunctions import checkIfNotNumeric
def sort_list(L):
    c = 0
    for item in L:
        m, idx = findMin(L, c)
        L = swapValues(L, c, idx)
        c += 1
    return L

In [61]:
l1 = [2, 1, 7, 65, 0]
sort_list(l1)

[0, 1, 2, 7, 65]

### Strings

In [64]:
def searchMin(L):
    min = L[0]
    for index in range(len(L)):
        if min > L[index]:
            min = L[index]
    return min

In [63]:
s = "ouissal"
t = "mifdal"
type(s)
    s.

str

In [108]:
def sortingList(L):
    sortedList = []
    for i_index in range(len(L)):
        sortedList.append(searchMin(L)) # or sortedList + [searchMin(L)]
        L.remove(searchMin(L))
        i_index += 1
    return sortedList

In [109]:
sortingList([5, 1, 6, 0, 78, -4, -2, 98])

[-4, -2, 0, 1, 5, 6, 78, 98]

In [110]:
multilineString = """This is a 
multiline string
it will be printed 
as it is written"""
print(multilineString)

This is a
multiline string
it will be printed
as it is written

In [111]:
# reversing a string or list or tuple...
s = "Ouissal Mifdal"
reversed_s = s[:: -1]
print(reversed_s)

ladfiM lassiuO

In [112]:
# Methods on string
"""
s.strinp() : removes the spaces at the end and beginning
s.lower(), s.upper() : changes the case of a string
s.replace(";", "/") : replacing inside of a string
s.split(";") : separates a string into multiple whenever it finds ';' 

"""

'\ns.strinp() : removes the spaces at the end and beginning\ns.lower(), s.upper() : changes the case of a string\ns.replace(";", "/") : replacing inside of a string\ns.split(";") : separates a string into multiple whenever it finds \';\' \n\n'

In [113]:
help(s.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [114]:
print("abc" not in "fhfkhzeuabsjfrfojoeabjerhur")
print("abc" == "abc")
print("abc" < "aan")

True
True
False

In [115]:
print("We are learning \"string\" here")
print('We are learning "string" here')

We are learning "string" here
We are learning "string" here

In [116]:
print("Ouissal \n Mifdal")

Ouissal
 Mifdal

In [117]:
print("Ouissal \t Mifdal")

Ouissal 	 Mifdal

In [118]:
print("c:\name\drive")

c:
ame\drive

In [106]:
print(r"c:\name\drive")

c:\name\drive

### Data Structures

In [107]:
L = [1, 3, 4.9, "name", 3, True]        #List
T = (1, 3, 4.9, "name", 3, True)        #Tuple
S = {1, 3, 4.9, "name", 3, True}        #Set
D = {23:"twothree", 'B':43, 'C':'CCD'}  #Dictionnary

In [119]:
L2 = L.copy()

In [120]:
L2[2] = 8865

In [121]:
L2

[1, 3, 8865, 'name', 3, True]

In [122]:
L

[1, 3, 4.9, 'name', 3, True]

In [123]:
"""

Slicing with normal data structures works in copy = changing the sub data does not affect the original
In Numpy, it does slicing by reference 

"""

'\n\nSlicing with normal data structures works in copy = changing the sub data does not affect the original\nIn Numpy, it does slicing by reference \n\n'

In [124]:
# adding numbers to a jupyter notebook
"""

ctrl+m then select the cell and type 'L' 

"""

"\n\nctrl+m then select the cell and type 'L' \n\n"

In [126]:
l = [x**2 for x in range(10)] # same for sets
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
# Simple Application
def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input("Enter yes/no for adding more students: ")
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [147]:
def getAvgMarks(D):
    avgMarksDict = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
            avgMarksDict[x] = s/len(L)
    return avgMarksDict

In [141]:
studentData = getDataFromUser()

Enter student ID: 12
Enter the marks by comma separated values: 87, 45, 15, 69
Enter yes/no for adding more students: hhr
Enter student ID: 15
Enter the marks by comma separated values: 87, 95, 41, 30
Enter yes/no for adding more students: htr
Enter student ID: 65
Enter the marks by comma separated values: 87, 41
Enter yes/no for adding more students: no

In [142]:
studentData

{'12': ['87', ' 45', ' 15', ' 69'],
 '15': ['87', ' 95', ' 41', ' 30'],
 '65': ['87', ' 41']}

In [143]:
 avgM = getAvgMarks(studentData)

In [144]:
avgM

{'12': 54.0, '15': 63.25, '65': 64.0}

In [145]:
for x in avgM:
    print("Student :",x, "got avg marks as:",avgM[x])

Student : 12 got avg marks as: 54.0
Student : 15 got avg marks as: 63.25
Student : 65 got avg marks as: 64.0

In [1]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [2]:
word_count("ouissal is a very smart and beautiful person besides she is amazing and talented")

{'ouissal': 1,
 'is': 2,
 'a': 1,
 'very': 1,
 'smart': 1,
 'and': 2,
 'beautiful': 1,
 'person': 1,
 'besides': 1,
 'she': 1,
 'amazing': 1,
 'talented': 1}